

<textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="code" id="geojsonText" name="geojsonInput" rows="24"></textarea>

@*@{ 
    if(Model != null)
    {
        <p>@Model.FilePath</p>
    }
}*@