
@{
    ViewData["Title"] = "About";
}

    <div class="text-justify about">
        <h3>About</h3>
        <p>
            Paste a GeoJSON and show it on a map. There you can edit or draw new elements and all the
            changes are going to be shown in the GeoJSON format to the left.
        </p>
        <p>You can compile your own GeoJSON from scratch by drawing on the map.</p>
        <p>
            You can download all shape elements shown on the map in a .shp format which is best used in programs
            such as QGIS. Shapefiles are projected in WGS84.
        </p>
        <p>
            This project was influenced by <a href="geojson.io">geojson.io</a>. I wanted to create my own
            simplified version and add support for complex "Multi" GeoJSON features which <a href="geojson.io">geojson.io</a> doesn't support. Also,
            I wanted to learn more about <a href="https://geojson.org/">GeoJSON</a>,
            <a href="https://doc.arcgis.com/en/arcgis-online/reference/shapefiles.htm">Shapefiles</a> and spatial libraries.
        </p>
        <h4>Resources used:</h4>
        <ul class="icon">
            <li><a href="https://dotnet.microsoft.com/">.NET Core</a> - for the backend stuff. Used it in case the project gets bigger</li>
            <li><a href="https://leafletjs.com/">Leaflet.js</a> - interactive map</li>
            <li><a href="https://www.maptiler.com/">Maptiler</a> - map tiles</li>
            <li><a href="http://leaflet.github.io/Leaflet.draw/docs/leaflet-draw-latest.html">Leaflet Draw</a> - drawing spatial shapes</li>
            <li>
                <a href="https://github.com/tmcw/geojson-flatten">geojson-flatten</a> - converting complex (multipolygon, multiline and multipoint) into more
                friendly simple (polygon, line and point) GeoJSON features which shp-write can handle
            </li>
            <li><a href="https://github.com/mapbox/shp-write">shp-write</a> - converting GeoJSON to Shapefiles</li>
            <li><a href="https://github.com/eligrey/FileSaver.js/">FileSaver.js</a> - downloading generated Shapefile</li>
            <li><a href="https://codemirror.net/">CodeMirror</a> - code-like text area</li>

        </ul>
        <h4>Known bugs:</h4>
        <ul class="icon">
            <li>When downloading a Shapefile all distinct Polygons get merged into one</li>
        </ul>
        <h4>Todo list</h4>
        <ul class="icon">
            <li>Example GeoJSON for each feature</li>
            <li>Upload your own Shapefile and convert it or/and edit it</li>
            <li>Zoom to user geolocation</li>
        </ul>
        <h4>Stay in touch</h4>
        <ul class="icon">
            <li><a href="https://contact.do/h6lR">Contact form</a></li>
        </ul>
    </div>

