@model IDictionary<string, string>

@{
    ViewData["Title"] = "GeoJSON2Shp";
    string filePath = null;
    if (ViewBag.FilePath != null)
    {
        filePath = ViewBag.FilePath.Replace(@"\", @"/");
    }
}

<div class="convert-wrapper row">
    <div class="paste-wrapper col-xl-5 col-md-12">
        <form>
            <div class="form-group" id="code-area">
                <partial name="_TextArea" />
            </div>
        </form>
        <div class="buttons">
            <button type="submit" class="btn btn-primary mb-2" id="convert">Convert</button>
            <form id="form" action="/home/upload" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <div class="button-input-div">
                        <label for="filesOGRE" class="custom-file-upload">Upload Shapefile</label>
                        <input id="filesOGRE" name="files" type="file" size="1" class="hidden-input">

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="map-wrapper col-xl-7 col-md-12">
        <div id="map"></div>
        <form>
            <div class="form-group">
            </div>
        </form>
        <div class="show-hide">
            <button type="submit" class="btn btn-primary mb-2" id="download">Download SHP</button>
        </div>
    </div>
</div>

<script>
    var urlPost = "@Url.Action("Index", "Home")";
    var urlGet = "@Url.Action("PathJson", "Home")";
    var urlDelete = "@Url.Action("Delete", "Home")";
</script>
<script>

</script>

<script>
    var filePath = "@filePath";
</script>
