

@{
    ViewData["Title"] = "GeoJSON2Shp";
}

<div class="convert-wrapper row">
    <div class="paste-wrapper col-xl-5 col-md-12">
        <form>
            <div class="form-group" id="code-area">
                <partial name="_TextArea" />
            </div>
        </form>
        <div class="buttons">
            <button type="submit" class="btn btn-primary mb-2" id="convert">Convert</button>
            <form id="form" action="/home/upload" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <div class="button-input-div">
                        <label for="filesOGRE" class="custom-file-upload">Upload Shapefile</label>
                        <input id="filesOGRE" name="files" type="file" size="1" class="hidden-input">

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="map-wrapper col-xl-7 col-md-12">
        <div id="map"></div>
        <form>
            <div class="form-group">
            </div>
        </form>
        <div class="show-hide">
            <button type="submit" class="btn btn-primary mb-2" id="download">Download SHP</button>
        </div>
    </div>
</div>

<div class="how-to">
    <h3>How to use</h3>
    <p>You have 3 options on how to use this tool:</p>
    <ul class="icon">
        <li>Draw on the map</li>
        <li>Paste a GeoJSON string in the editor and convert it. Later you can edit it on the map or code editor. (<a href="~/files/exampleGEOJSON.txt">example</a>)</li>
        <li>
            Upload a ziped ESRI Shapefile that contains the folowing files: .shp, .dbf, and .shx (.prj optional). Only ziped files are currently supported. (<a href="~/files/exampleSHP.zip">example</a>)
            <br /><b>CAUTION:</b> huge Shapefiles are not supported and will probably freeze the app.
        </li>
    </ul>
    <p>Everything you create/edit you can download as a ESRI Shapefile using the Download button.</p>
</div>

