@model FileModel

@{
    ViewData["Title"] = "GeoJSON2Shp";
}


<div class="convert-wrapper row">
    <div class="paste-wrapper col-xl-5 col-md-12">
        <form>
            <div class="form-group">
                <textarea autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" class="code" id="geojsonText" name="geojsonInput" rows="24"></textarea>
            </div>
        </form>
        <button type="submit" class="btn btn-primary mb-2" id="convert">Convert</button>
        <form enctype="multipart/form-data" asp-controller="home" asp-action="upload">
            <div class="form-group">
                <label asp-for="Zip" class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <div class="custom-file">
                        <input asp-for="Zip" class="form-control custom-file-input file-input">
                        <label class="custom-file-label file-label">Choose file</label>
                        <button type="submit" class="btn btn-primary mb-2" id="upload">Upload SHP</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="map-wrapper col-xl-7 col-md-12">
        <div id="map"></div>
        <form>
            <div class="form-group">

            </div>
        </form>
        <div class="show-hide">
            <button type="submit" class="btn btn-primary mb-2" id="download">Download SHP</button>
        </div>
    </div>
</div>
